interactions:
- request:
    body: null
    headers:
      Authorization:
      - XXXXXXOMITTEDXXXXXXX
      Content-Type:
      - application/json
    method: GET
    uri: https://sandbox-assessmentsapi.reliaslearning.com/v1/users/test%40dka.im/assignable-assessments?orgId=12345
  response:
    body:
      string: '{"items":[{"assessmentId":1219,"name":"Advance Healthcare Directives","assessmentType":"Clinical"},{"assessmentId":1210,"name":"Age-Specific
        Patient Care","assessmentType":"Clinical"},{"assessmentId":1205,"name":"Body
        Mechanics/Ergonomics","assessmentType":"Clinical"},{"assessmentId":1372,"name":"Cardiac
        Cath Lab","assessmentType":"Self"},{"assessmentId":1689,"name":"Cardiac Cath
        Lab RN A","assessmentType":"Clinical"},{"assessmentId":1690,"name":"Cardiac
        Cath Lab RN B","assessmentType":"Clinical"},{"assessmentId":1481,"name":"Cardiac
       [...]
