interactions:
- request:
    body: '{"firstName": "Jim", "lastName": "Morrison", "orgId": "22970", "email":
      "jim@dka.im", "trackingId": "EGL9711", "guid": "EGL9711"}'
    headers:
      Authorization:
      - XXXXXXOMITTEDXXXXXXX
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-assessmentsapi.reliaslearning.com/v1/applicants?orgId=22970
  response:
    body:
      string: '{"applicantId":18461378,"orgId":22970,"firstName":"Jim","lastName":"Morrison","userName":"jim@dka.im","email":"jim@dka.im","jobTitleIds":[],"trackingId":"EGL9711","active":true,"guid":"EGL9711"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://sandbox-assessmentsapi.reliaslearning.com/v1/applicants/jim@dka.im?orgId=22970
    status:
      code: 201
      message: Created
version: 1
