interactions:
- request:
    body: '{"first_name": "Barry", "last_name": "Manilow", "email": "barry@dka.im",
      "tracking_id": "ABC!@#"}'
    headers:
      Authorization:
      - XXXXXXOMITTEDXXXXXXX
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-assessmentsapi.reliaslearning.com/v1/applicants?orgId=12345
  response:
    body:
      string: '{"type":"https://httpstatuses.com/403","title":"Forbidden","status":403,"detail":"You
        do not have permission to perform this action.","instance":"80003e48-0000-dd00-b63f-84710c7967bb"}'
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
    status:
      code: 403
      message: Forbidden
version: 1
