interactions:
- request:
    body: null
    headers:
      Authorization:
      - XXXXXXOMITTEDXXXXXXX
      Content-Type:
      - application/json
    method: GET
    uri: https://sandbox-assessmentsapi.reliaslearning.com/v1/users/test%40dka.im/assignments?orgId=12345
  response:
    body:
      string: '{"items":[{"assignmentId":3800326,"assessment":{"assessmentId":1215,"assessmentType":"Clinical","name":"Abuse:
        Child, Elder, Intimate Partner"},"expiration":"2021-06-21T23:59:59","completed":null,"lastAccessed":null,"grade":null,"band":null}],"pageCount":1,"pageNumber":1,"totalCount":1,"links":{"previous":null,"next":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
