interactions:
- request:
    body: '{"assessmentIds": [1449], "expiration": "2021-06-21T00:00:00"}'
    headers:
      Authorization:
      - XXXXXXOMITTEDXXXXXXX
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-assessmentsapi.reliaslearning.com/v1/users/test%40dka.im/assignments?orgId=12345
  response:
    body:
      string: '[{"assignmentId":3800327,"userId":18461195,"expiration":"2021-06-21T23:59:59","assessmentId":1449}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
