# coding: utf-8

"""
    Relias API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from relias_api_client.api_client import ApiClient


class BundlesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def matching_bundles_by_profile(self, username, **kwargs):  # noqa: E501
        """Returns user's Matching Bundles by Profile  # noqa: E501

        MatchingBundleResponse:    Contains the List of Matching Bundle Profiles  <ul><li>BundleId is the ID for the Bundle.</li><li>Title is the Title for the Bundle.</li><li>Description is the Description for the Bundle.</li><li>MatchingProfiles is a List of MatchingProfileResponse.</li></ul>    MatchingProfileResponse:  <ul><li>Title is the Title for the Profile.</li><li>Description is the Description for the Profile.</li><li>DueDateInDaysAfterAssignment is the Number of Days after assignment for the Due Date.</li><li>Attributes is a list of Attributes, values are:    <ul><li>Locations.</li><li>JobTitles.</li><li>Hierarchies.</li><li>Departments.</li><li>UserTypes.</li></ul></li></ul>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.matching_bundles_by_profile(username, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str username: the username of the user (required)
        :param int org_id: organization ID of the user (defaults to current organization ID)
        :return: list[MatchingBundleResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.matching_bundles_by_profile_with_http_info(username, **kwargs)  # noqa: E501
        else:
            (data) = self.matching_bundles_by_profile_with_http_info(username, **kwargs)  # noqa: E501
            return data

    def matching_bundles_by_profile_with_http_info(self, username, **kwargs):  # noqa: E501
        """Returns user's Matching Bundles by Profile  # noqa: E501

        MatchingBundleResponse:    Contains the List of Matching Bundle Profiles  <ul><li>BundleId is the ID for the Bundle.</li><li>Title is the Title for the Bundle.</li><li>Description is the Description for the Bundle.</li><li>MatchingProfiles is a List of MatchingProfileResponse.</li></ul>    MatchingProfileResponse:  <ul><li>Title is the Title for the Profile.</li><li>Description is the Description for the Profile.</li><li>DueDateInDaysAfterAssignment is the Number of Days after assignment for the Due Date.</li><li>Attributes is a list of Attributes, values are:    <ul><li>Locations.</li><li>JobTitles.</li><li>Hierarchies.</li><li>Departments.</li><li>UserTypes.</li></ul></li></ul>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.matching_bundles_by_profile_with_http_info(username, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str username: the username of the user (required)
        :param int org_id: organization ID of the user (defaults to current organization ID)
        :return: list[MatchingBundleResponse]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['username', 'org_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method matching_bundles_by_profile" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'username' is set
        if self.api_client.client_side_validation and ('username' not in params or
                                                       params['username'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `username` when calling `matching_bundles_by_profile`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'username' in params:
            path_params['username'] = params['username']  # noqa: E501

        query_params = []
        if 'org_id' in params:
            query_params.append(('orgId', params['org_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/users/{username}/matching-bundles-by-profile', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[MatchingBundleResponse]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
