# coding: utf-8

"""
    Relias API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from relias_api_client.api_client import ApiClient


class ScorecardsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_users_scorecard_result_pdf(self, username, scorecard_id, **kwargs):  # noqa: E501
        """Retrieves a scorecard results pdf for a provided username and scorecard ID  # noqa: E501

        When providing username, be sure to URL encode the value if it contains any special characters.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_users_scorecard_result_pdf(username, scorecard_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str username: the username of the user whose scorecard is wanted (required)
        :param int scorecard_id: the ID of the scorecard (required)
        :param int org_id: organization ID of the user (defaults to current organization ID)
        :return: FileStreamResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_users_scorecard_result_pdf_with_http_info(username, scorecard_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_users_scorecard_result_pdf_with_http_info(username, scorecard_id, **kwargs)  # noqa: E501
            return data

    def get_users_scorecard_result_pdf_with_http_info(self, username, scorecard_id, **kwargs):  # noqa: E501
        """Retrieves a scorecard results pdf for a provided username and scorecard ID  # noqa: E501

        When providing username, be sure to URL encode the value if it contains any special characters.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_users_scorecard_result_pdf_with_http_info(username, scorecard_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str username: the username of the user whose scorecard is wanted (required)
        :param int scorecard_id: the ID of the scorecard (required)
        :param int org_id: organization ID of the user (defaults to current organization ID)
        :return: FileStreamResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['username', 'scorecard_id', 'org_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_users_scorecard_result_pdf" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'username' is set
        if self.api_client.client_side_validation and ('username' not in params or
                                                       params['username'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `username` when calling `get_users_scorecard_result_pdf`")  # noqa: E501
        # verify the required parameter 'scorecard_id' is set
        if self.api_client.client_side_validation and ('scorecard_id' not in params or
                                                       params['scorecard_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `scorecard_id` when calling `get_users_scorecard_result_pdf`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'username' in params:
            path_params['username'] = params['username']  # noqa: E501
        if 'scorecard_id' in params:
            path_params['scorecardId'] = params['scorecard_id']  # noqa: E501

        query_params = []
        if 'org_id' in params:
            query_params.append(('orgId', params['org_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/pdf', 'application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/users/{username}/scorecards/{scorecardId}/results', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FileStreamResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
